* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #DA9A79;
    /* background-image: url(../css/assets/images/pic4.jpg); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

#nav-items {
    display: flex;
    gap: 15pt;
}

.list-items {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-items: center;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../css/assets/images/pic4.jpg);
    height: 100vh;
    background-size: 100vh;
    background-size: cover;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;


}

.title {
    font-size: 60px;
    color: white;
    font-style: oblique;
    margin-left: 20%;

}

.subtitle {
    font-size: 30px;
    color: white;
    margin-left: 20%;
}

.hero-info {
    width: 50%;
    padding-top: 50px;
}

.section-button {
    background-color: rgba(165, 42, 42, 0.836);
    padding: 20px;
    color: white;
    /* width: 10%; */
    border: none;
    margin-left: 20%;
}

.dropdown {
    position: relative;
    display: inline-block;
}
 .animals-small-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    width: 180px;
    margin-right: 0%;

 }
 .animals-big-container{
    display: flex;
    height: 40px;
 }
 .bottom-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    
 }
 .main-animals-container {
    justify-content: center;
 }
 .image-carusal-container {
    margin-top: -170px;
    width: 180px;
    justify-content: center;

 }
 .title-button {
    width: 200px;
    height: 40px;
    background-color: #A83D3B;
    border: thin;
    border-radius: 5%;
    margin-right: 15%;
    margin-bottom: 20px;
    font-size: medium;
    

}

.form-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 30%;
    background-color: #F9F9FF;
    padding-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;
}
.forms {
    width: 400px;
    gap: 10px;
    font-size: 30px;
    margin-right: 10px;
    margin: 20px;
    margin-bottom: 20px;


}
.text-container p {
    line-height: 1.6;
    margin-bottom: 1.2rem;
    color: gray;
    margin-right: 50%;
    font-size: 16px;
    /* padding: 20%; */
}
.text-container h2 {
    margin-bottom: 1.5rem;
    justify-content: center;
    margin-right: 50%;
    font-size: 50px;
    /* padding: 20%; */
}
.text-container a {
    color: white;
    background-color: rgba(165, 42, 42, 0.836);
    text-decoration: none;
    justify-content: center;
    /* display: flex; */
    margin-right: 50%;
    /* padding: 20%; */
    
}
.flex-container {
    display: flex;
    /* justify-content: center; */
    gap: 18px;
    margin-bottom: 3rem;
}

.text-container {
    width: 50%;
    /* color: darkslateblue; */
}
.image-container {
    width: 100%;
}

.image-container img {
    width: 80%;
    
}
.main-section {
    width: 100%;
    margin-top: 200px;
    display: flex;
}
#animal-container {
    padding-left: 50vh;
}
#container-item {
    width: 60%;
}

#container-item img {
/* width: 100%; */
width: 100%;
height: 100%;
}
 
  .image-section {
    margin-top: 90px;
  }
  .gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    margin-left: 60px;
    
  }
  /* .flex-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  } */
  .gallery img{
    width: 90%;
  }
