* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #DA9A79;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

#nav-items {
    display: flex;
    gap: 15pt;
}

.list-items {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-items: center;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../css/assets/images/pic4.jpg);
    height: 120vh;
    background-size: 100vh;
    background-size: cover;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;


}

.title {
    font-size: 60px;
    color: white;
    font-style: oblique;
    margin-left: 10%;

}

.subtitle {
    font-size: 30px;
    color: white;
    margin-left: 10%;
}

.hero-info {
    width: 50%;
    padding-top: 50px;
}

.section-button {
    background-color: rgba(165, 42, 42, 0.836);
    padding: 20px;
    color: white;
    /* width: 10%; */
    border: none;
    margin-left: 10%;
}

.dropdown {
    position: relative;
    display: inline-block;
}
 .animals-small-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    width: 180px;
    margin-right: 20px;

 }
 .animals-big-container{
    display: flex;
    height: 40px;
 }
 .bottom-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    
 }
 .main-animals-container {
    justify-content: center;
 }
 .image-carusal-container {
    margin-top: px;
    width: 180px;
    justify-content: center;

 }
 .title-button {
    width: 200px;
    height: 40px;
    background-color: #A83D3B;
    border: thin;
    border-radius: 5%;
    /* margin-right: 15%; */
    /* margin-bottom: 20px; */
    font-size: medium;
    

}

.form-section {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    /* padding-top: 30%; */
    background-color: #F9F9FF;
    /* padding-top: 50px; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    align-items: center;
    height: 90px;
}
.forms {
    width: 400px;
    gap: 10px;
    font-size: 30px;
    /* margin-right: 10px; */
    /* margin: 20px; */
    /* margin-bottom: 20px; */


}
.text-container p {
    line-height: 2.6;
    margin-bottom: 1.2rem;
    color: gray;
    margin-right: 60%;
    font-size: 20px;
    /* padding: 20%; */
}
.text-container h2 {
    margin-bottom: 1.5rem;
    justify-content: center;
    margin-right: 50%;
    font-size: 50px;
    /* padding: 20%; */
}
.text-container a {
    color: white;
    background-color: rgba(165, 42, 42, 0.836);
    text-decoration: none;
    justify-content: center;
    /* display: flex; */
    margin-right: 50%;
    /* padding: 20%; */
    font-size: 40px;
    margin-left: 150px;
}
.flex-container {
    display: flex;
    /* justify-content: center; */
    gap: 18px;
    margin-bottom: 3rem;
}

.text-container p {
    line-height: 1.6;
    margin-bottom: 1.2rem;
    color: gray;
    margin-left: 150px;
    /* display: block; */
    margin: 19.2px;
}
.text-container h2 {
    margin-bottom: 20px;
    font-weight: 300;
    margin-left: 140px;
    margin: 19.2px;
}

.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    margin-left: 20px;
}
.main-section {
    width: 100%;
    margin-top: 100px;
    display: flex;
}
#animal-container {
    padding-left: 50vh;
}
#container-item {
    width: 60%;
}

#container-item img {
/* width: 100%; */
width: 100%;
height: 100%;
}
 
  .image-section {
    margin-top: 60px;
    align-items: center;
    margin-left: 10px;
  }
  .gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-left: 60px;
    height: 100%;
    
    
  }
   .flex-gallery {
   width: 70%;
   height: 70%;
   margin-left: 50px;
   
   
  } 
  .gallery img{
    width: 100%;
    border-radius: 50px;
    height: 100%;
    
  }
  .gallery-head{
    display: flex;
    justify-content: center;
    height: 10vh;
    font-size: 30px;
    align-items: center;
    
  }
  .gallery-body {
    display: flex;
    justify-content: center;
    height: 20vh;
    font-size: 20px;
    color: gray;
  }
  .input-section {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
    background-color: rgba(2, 43, 37, 0.404);
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

input {
    padding: 20px;
    width: 50%;
}

.bottom-hero h1 {
    display: flex;
    justify-content: center;
    height: 5vh; 
    font-size: 40px;
    color: white;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 40px;

}
.bottom-hero p {
    display: flex;
    justify-content: center;
    height: 5vh;
    font-size: 40px;
    color: gray;
    margin-bottom: 10px;

}
.bottom-hero {
    margin-bottom: 10px;
  
}
.icons {
    /* margin-left: 40px; */
    /* height: vh; */
    display: flex;
}
.adopting-secttion{
    background-color: #f1dacf;
    height: 120vh;
}
.icons-description1 {
    margin-top: 80px;
    margin-right: 40px;
    height: 50vh;
   
}
.icons-description2 {
    margin-top: 80px;
    margin-right: 40px;
    height: 50vh;
}
.icons-description3 {
    margin-top: 0px;
    margin-right: 40px;
    height: 50vh;
}
.icons-description4 {
    margin-top: 80px;
    margin-right: 40px;
    height: 50vh;
}
.icons-description1 h4 {
    font-size: 20px;
    margin: 1.8rem;
    color: gray;
} 
.icons-description2 h4 {
    font-size: 20px;
    margin: 1.8rem;
    color: gray;
} 
.icons-description3 h4 {
    font-size: 20px;
    margin: 1.8rem;
    color: gray;
} 
.icons-description4 h4 {
    font-size: 20px;
    margin: 1.8rem;
    color: gray;
    padding-left: 22px;
} 
.icons-description1 p {
    font-size: 16px;
    line-height: 1.63;
    margin-left: 20px;
    height: 10vh;
}
.icons-description2 p {
    font-size: 16px;
    line-height: 1.63;
    margin-left: 20px;
    height: 10vh;
}
.icons-description3 p {
    font-size: 16px;
    line-height: 1.63;
    margin-left: 20px;
    height: 10vh;
}
.icons-description4 p {
    font-size: 16px;
    line-height: 1.63;
    padding-left: 22px;
}

.testimonial-container {
    display: flex;
    padding-top: 80px;
}
.testimonial-item {
    padding-top: 20px;
    /* padding-left: 400px; */
    text-align: center;
}
.testimonial-item p {
padding-top: 15px;
color: gray;
font-size: 20px;
align-items: center;
}
.testimonial-item h1 {
padding-top: 15px;
font-size: 50px;
}
.testimonial-group {
    background-color: #f7f4f3;
    height: 100vh;
    margin-top: 70px;
}
.testimonials1 {
    padding: 20px;
    font-size: 20px;
    margin: 1.8rem;
    color: gray;
    padding-left: 22px;
    text-align: center;
}
.testimonials2 {
    padding: 20px;
    font-size: 20px;
    margin: 1.8rem;
    color: gray;
    padding-left: 22px;
    text-align: center;
}
.testimonials3 {
    padding: 20px;
    font-size: 20px;
    margin: 1.8rem;
    color: gray;
    padding-left: 22px;
    text-align: center;
}
.concluding {
    /* height: 20vh; */
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../css/assets/images/d3.jpg);
    height: 70vh;
    background-size: 100vh;
    background-size: cover;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    margin-top: 80px;
}
.concluding h2{
    font-size: 50px;
    /* padding-top: 100px; */
    color: whitesmoke;
}
.concluding p {
    margin: 20px;
    display: inline-block;
    color: whitesmoke;
    font-size: 40px;
}
.concluding-button{
display: flex;
justify-content: center;
gap: 30px;
}
.concluding-button1 {
    background-color: rgba(165, 42, 42, 0.836);
    padding: 20px;
    color: white;
    /* width: 10%; */
    border: none;
    /* margin-left: 20%; */
}
.concluding-button2 {
    background-color: rgba(165, 42, 42, 0.836);
    padding: 20px;
    color: white;
    /* width: 10%; */
    border: none;
    /* margin-left: 20%; */
}
footer {
    width: 81.5%;
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: #fff;
    padding: 100px; 
    border-top-left-radius: 125px;
       
}
.footer-tag {
 
    text-decoration: none;
    

}
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.main-footer h3 {
    text-decoration: none;
    font-style: oblique;
    color: lightgray;
    flex-basis: 25%;
    /* align-self: flex-start; */
    margin-top: 0;
}
.main-footer li {
    list-style-type: none;
    margin-top: 12px;
}
.address h3 {
    width: fit-content;
    margin-bottom: 12px;
    /* position: relative; */
}
.email {
    /* width: fit-content; */
    border-bottom: 1px; 
    margin: 20px; 
}
form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px; 
    margin-bottom: 50px;
    width: 200px;
    height: 20px;
}
 form .fa-solid {
    font-size: 18px;
    margin-right: 10px;
}
form input {
    width: 100%;
    background: transparent;
    color: #270e02a1;
    border: 0;
    outline: none;
    padding: 20px;
}
form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa-solid{
    font-size: 16;
    color: #f55106;
}

.fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    /* background: #fff; */
    color: blueviolet;
    margin-right: 15px;
    cursor: pointer;
}
hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto; 
}
.copyright {
    text-align: center;
}


